<div class="container">
    <div class="d-flex justify-content-between">
      <h4>Edit person</h4>
      <a href="#" routerLink="/person/index" class="btn btn-primaryt">Back</a>
    </div>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="title">Nombre:</label>
              <input formControlName="nombre" [(ngModel)]="user.nombre" id="nombre" type="text" class="form-control">
              <div *ngIf="f.user.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">*Nombre es requerido.</div>
                <div *ngIf="f.name.errors.pattern">*El nombre solo contiene letras.</div>
              </div>
            </div>
        </div>
            <div class="form-group row">
                <div class="col-md-6 ">
                  <label for="title">CURP:</label>
                  <input formControlName="curp" [(ngModel)]="user.curp" id="curp" type="text" class="form-control">
                  <div *ngIf="f.user.touched && f.curp.invalid" class="alert alert-danger">
                    <div *ngIf="f.curp.errors.required">*El curp es requerido.</div>
                    <div *ngIf="f.curp.errors.pattern">*El nombre solo contiene letras.</div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 ">
                      <label for="title">Edad:</label>
                      <input formControlName="edad" [(ngModel)]="user.edad" id="edad" type="text" class="form-control">
                      <div *ngIf="f.user.touched && f.edad.invalid" class="alert alert-danger">
                        <div *ngIf="f.edad.errors.required">*La edad es requerida.</div>
                        <div *ngIf="f.edad.errors.pattern">*Solo numeros.</div>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 ">
                      <label for="title">fecha de Registro:</label>
                      <input formControlName="fechaRegistro" [(ngModel)]="user.fechaRegistro" id="fechaRegistro" type="text" class="form-control">
                      <div *ngIf="f.user.touched && f.fechaRegistro.invalid" class="alert alert-danger">
                        <div *ngIf="f.fechaRegistro.errors.required">*La fecha es requerida.</div>
                  <div *ngIf="f.fechaRegistro.errors.pattern">*Solo numeros.</div>
                      </div>
                    </div>
                </div>
          </div>
            <div class="form-group row">
                <div class="col-md-6 ">
                  <label for="title">Email:</label>
                  <input formControlName="email" [(ngModel)]="user.email" id="email" type="text" class="form-control">
                  <div *ngIf="f.user.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">*El correo es requerido.</div>
                    <div *ngIf="f.email.errors.email">*El correo electronico debe de ser valido.</div>
                  </div>
                </div>
            </div> 
            <div class="form-group row">
                <div class="col-md-6 ">
                  <label for="contrasena">Contraeña:</label>
                  <input
                    formControlName="contrasena" [(ngModel)]="user.contrasena" id="contrasena"type="text"class="form-control">
                  <div *ngIf="f.contrasena.touched && f.phone.invalid" class="alert alert-danger">
                      <div *ngIf="f.contrasena.errors.required">*Se require una contraeña.</div>
                      <div *ngIf="f.contrasena.errors.pattern">*.</div>
                  </div>
                </div>
            </div>      
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>